= form_for [@ticket, @reply], url: ticket_replies_path(@ticket.id, @reply) do |f|
  .form-group
    = f.label :body
    = f.text_field :body, class: 'form-control'

  .form-group
    = label_tag 'reply_new_owner_id'
    = select_tag 'reply[new_owner_id]', options_from_collection_for_select(User.all, 'id', 'email', @ticket.owner_id),
      include_blank: true, class: 'form-control'

  .form-group
    = label_tag 'reply_new_status_id'
    = select_tag 'reply[new_status_id]', options_from_collection_for_select(Status.all, 'id', 'name', @ticket.status_id),
      include_blank: true, class: 'form-control'

  = f.submit t(".#{action_name}_button"), class: 'btn btn-primary'