%table.table.table-bordered
  %thead
    %tr
      %th= t('.body')
      %th= t('.new_status')
      %th= t('.new_owner')
      %th= t('.time')
  %tbody
    = render @replies

= will_paginate @replies, renderer: BootstrapPagination::Rails