= form_for [@customer, @ticket] do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'

  = f.submit t(".#{action_name}_button"), class: 'btn btn-primary'