%tr
  %td= link_to ticket.title, customer_ticket_path(ticket.creator, ticket)
  %td= ticket.description
  %td= ticket.status.try(:name)
  %td= link_to t('actions.edit'), edit_customer_ticket_path(ticket.creator, ticket)