%table.table.table-bordered
  %thead
    %tr
      %th= t('.title')
      %th= t('.description')
      %th= t('.status')
      %th= t('actions.title')
  %tbody
    = render @tickets

= will_paginate @tickets, renderer: BootstrapPagination::Rails
