%p= link_to t('.index'), customer_tickets_path(@customer, reference: @ticket.reference)
= link_to t('actions.edit'), edit_customer_ticket_path(@customer, @ticket), class: 'btn btn-primary'

%h2= t('.title')
%p= @ticket.title

%h2= t('.description')
%p= @ticket.description