.row
  %h2= t('title')

- if user_signed_in?
  .row
    %blockquote= t('.signed_in', email: current_user.email)
    %p= link_to t('.tickets'), tickets_path(tickets_type: :all)

    = link_to t('.sign_out'), destroy_user_session_path, method: :delete, class: 'btn btn-danger'
- else
  .row
    = link_to t('.sign_in'), new_user_session_path, class: 'btn btn-success'
    = link_to t('.sign_up'), new_user_registration_path, class: 'btn btn-primary'
    = link_to t('.for_customers'), new_customer_path, class: 'btn btn-info'