= form_for @customer  do |f|
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  = f.submit 'Login', class: 'btn btn-default'