= form_for @ticket, url: ticket_path(@ticket.id) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'

  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'

  .form-group
    = label_tag 'ticket_owner_id'
    = select_tag 'ticket[owner_id]', options_from_collection_for_select(User.all, 'id', 'email', @ticket.owner_id),
      include_blank: true, class: 'form-control'

  .form-group
    = label_tag 'status_id'
    = select_tag 'ticket[status_id]', options_from_collection_for_select(Status.all, 'id', 'name', @ticket.status_id),
      include_blank: true, class: 'form-control'

  = f.submit t(".#{action_name}_button"), class: 'btn btn-primary'