%p= link_to t('.index'), tickets_path(tickets_type: :all)

= link_to t('actions.edit'), edit_ticket_path(@ticket.id), class: 'btn btn-primary'

%h2= t('.title')
%p= @ticket.title

%h2= t('.description')
%p= @ticket.description

%h2= t('.status')
%p= @ticket.status.name

- if @ticket.owner
  %h2= t('.owner')
  %p= @ticket.owner.email



