%header
  %nav.navbar.navbar-static-top.navbar-inverse
    .container-fluid
      .navbar-header
        = link_to t('title'), root_path, class: 'navbar-brand'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to 'Home', root_path, class: 'active'