!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all', data: { turbolinks_track: true }
    = javascript_include_tag 'application', data: { turbolinks_track: true }
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      .msg
        - flash.each do |key, value|
          %div{class: "alert alert-#{key}", role: 'alert'}= value
      = yield